/* ----------------- FUENTE TIPOGRAFICA DE GOOGLEFONT----------------- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500&display=swap");

/* ----------------- UNIVERSALES ----------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
}

/* ----------------- TEXTOS ----------------- */

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.9rem;
}

.marca-producto {
  font-size: 1.1rem;
}

.precio-producto {
  font-size: 1.8rem;
  font-weight: 500;
}

#toggleMode {
  visibility: hidden;
}

.toggleDark,
.toggleLight {
  cursor: pointer;
  position: relative;
  bottom: 74px;
  color: rgb(220, 222, 223);
}

.toggleDark,
#toggleMode:checked ~ .toggleLight {
  display: none;
}

.toggleLight,
#toggleMode:checked ~ .toggleDark {
  display: block;
}

/* ----------------- HEADER HERO FOOTER ----------------- */



.hero-section,
footer,
footer #redes li a {
  background-color: #1e4180; 
  color: #eaeaea;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 24px;
  padding: 10px 0;
}

tbody tr {
  display: flex;
  justify-content: space-between;
}

.su-compra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background-color: rgb(220, 222, 223);
}

main.dark-mode {
  background-color: rgb(33, 33, 33);
}

.hero-section.dark-mode {
  background-color: #0d1c49;
}

#buscador-productos {
  display: flex;
  justify-content: center;
  margin-left: 12px;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.id-producto {
  display: none;
}

.producto-contenedor {
  background-color: #1e4180; 
  border-radius: 8px;
  margin: 0 auto; 
  transition: scale .2s ease-in-out;
  transform: scale(0); 
  animation: aparecer 0.5s forwards; 
}

@keyframes aparecer {
  from {
    transform: scale(0); 
  }
  to {
    transform: scale(1); 
  }
}

@keyframes desaparecer {
  from {
    transform: scale(1); 
  }
  to {
    transform: scale(0); 
  }
}

.js-producto-contenedor[style*="display: none"] {
  transition: scale .2s ease,
 display .2s ease allow-discrete;
 scale: 0;
}

.producto-contenedor:hover {
  scale: 1.03;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.producto-contenedor img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

header,
.productos-informacion {
  background-color: #d80811;
  color: #eaeaea;
}

#popup,
#texto-popup,
#texto-popup:disabled {
  background-color: #eaeaea;
  font-weight: 400;
  color: rgb(33, 33, 33);
}

#popup {
  padding: 4px;
  width: 230px;
  border-radius: 6px;
}

#texto-popup {
  width: 100%;
  min-height: 200px;
  resize: vertical;
  padding: 5px;
  border-radius: 6px;
}

#popup,
#texto-popup:disabled {
  box-shadow: none;
  border: none;
  outline: none;
  text-decoration: none;
}


.productos-informacion {
  margin-top: -4px;
  padding: 6px 10px;
}

footer,
#redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

footer #redes li {
  margin: 4px 10px 0 0;
}

.js-pago-total-amarillo,
footer #redes li a:hover,
.toggleDark:hover,
.toggleLight:hover {
  color: #f5ea1e;
}


.search-bar,
.boton-cancelar,
.boton-pagar,
.boton-agregar,
.search-bar,
.js-pago-total-amarillo,
footer #redes li a,
.toggleDark,
.toggleLight {
  transition: 0.2s;
}


/* ----------------- ELEMENTOS / BOTONES ----------------- */

.search-bar,
button {
  padding: 6px 12px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
  cursor: text;
  outline: none;
}

.search-bar {
  width: 80%;
  margin: 20px 10px 20px 0;
}

.boton-pagar:hover,
.boton-agregar:hover,
.search-bar:hover {
  color: #342e00;
  background-color: #f5ea1e;
}

.botones-pago-cancelar {
  padding: 10px 0;
}

.botones-agregar-cancelar {
  display: flex;
  justify-content: center;
}

.boton-pagar,
.boton-agregar,
.boton-cancelar {
  background: none;
  color: #eaeaea;
  font-size: 1.2rem;
  cursor: pointer;
}

.boton-pagar:not([disabled]) {
  animation: escalar 1s infinite;
}

@keyframes escalar {
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

.js-boton-cancelar-producto,
.boton-cancelar:hover {
  color: rgb(240, 233, 233);
  background-color: #dc3741;
}

.js-boton-pagar-compra {
  background-color: #7066e0;
  color: #fff;
}

.js-boton-agregar-producto:enabled:hover,
.js-boton-pagar-compra:enabled:hover,
.js-boton-cancelar-producto:hover {
  transform: scale(1.1);
}

.pago-total {
  font-size: 1.2rem;
  font-weight: 500;
}

.js-formulario-de-pago {
  display: flex;
  flex-direction: column;
}

.js-input-form {
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  padding: 10px; 
  border: 1px solid #eaeaea; 
  border-radius: 5px; 
  background-color: #eaeaea;
}

main #lista-productos {
  padding: 20px 0;
}

button:disabled,
button:disabled:hover {
  cursor: default;
  background-color: transparent;
  color: #bfc0c8;
}

/* ----------------- MEDIAQUERIES ----------------- */

@media (max-width: 645px) {
  .hero-section,
  footer {
    flex-direction: column;
  }
}

@media (max-width: 340px) {
 h1 {
  font-size: 1.8rem;
 }
}
