/* ----------------- FUENTE TIPOGRAFICA DE GOOGLEFONT----------------- */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500&display=swap");

/* ----------------- UNIVERSALES ----------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

/* ----------------- TEXTOS ----------------- */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.9rem;
}

.marca-producto {
  font-size: 1.1rem;
}

.precio-producto {
  font-size: 1.8rem;
  font-weight: 500;
}

/* ----------------- HEADER HERO FOOTER ----------------- */


#contenido-popup {
  padding: 10px;
  width: 230px;
}

#texto-popup {
  width: 100%; 
  height: 150px; 
  resize: vertical;
  background-color: rgb(220, 222, 223);
  padding: 5px;
  border-radius: 6px;
}

header,
.hero-section,
footer,
footer #redes li a {
  background-color: #153081;
  color: #eaeaea;
}

header {
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
}

.hero-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 24px;
  padding: 10px 0;
}

tbody tr {
display: flex;
justify-content: space-between;
}

.su-compra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 20px 10px;
  background-color: rgb(220, 222, 223);
}

#buscador-productos {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.producto-contenedor {
  background-color: #153081;
  border-radius: 4px;
  padding: 2px;
  color: #eaeaea;
  max-width: 400px;
  margin: 0 auto; /* Centra el contenedor del grid */
}

.producto-contenedor img {
  width: 100%;
}

.productos-informacion {
  background-color:  rgb(205, 6, 23);
}

footer,
#redes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

footer #redes li {
  margin: 4px 10px 0 0;
}

.js-pago-total-amarillo,
footer #redes li a:hover {
  color: #f5ea1e;
  transition: 0.2s;
}

/* ----------------- ELEMENTOS / BOTONES ----------------- */

.search-bar,
button {
  padding: 6px 12px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 16px;
  border: none;
  cursor: text;
}

.search-bar {
  margin-right: 10px;
  width: 80%;
}

.boton-pagar:hover,
.boton-agregar:hover,
.search-bar:hover {
  color: #342e00;
  background-color: #f5ea1e;
  transition: 0.2s;
}

.botones-pago-cancelar {
  padding: 10px 0;
}

.botones-agregar-cancelar{
  display: flex;
  justify-content: center;
}

.boton-pagar,
.boton-agregar,
.boton-cancelar {
  background: none;
  color: #eaeaea;
  font-size: 1.2rem;
  cursor: pointer;
}

.js-boton-cancelar-producto,
.boton-cancelar:hover {
  color: rgb(240, 233, 233);
  background-color: rgb(205, 6, 23);
  transition: 0.2s;
}

.js-boton-pagar-compra {
  background-color: rgb(20, 178, 20);
}

.js-boton-agregar-producto:enabled:hover, 
.js-boton-pagar-compra:enabled:hover,
.js-boton-cancelar-producto:hover {
  transform: scale(1.1);
  transition: 0.2s;
}

.pago-total {
  font-size: 1.2rem;
  font-weight: 500;
}

main #lista-productos {
  padding: 20px 0;
}


button:disabled,
button:disabled:hover {
  cursor: default;
  background-color: transparent;
  color: #bfc0c8;
}


/* ----------------- MEDIAQUERIES ----------------- */

@media (max-width: 645px) {
  .hero-section,
  footer {
flex-direction: column;
  }
}